[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"

[dev-packages]
tox = "*"
black = "*"
"flake8" = "*"
isort = "*"

[pipenv]
allow_prereleases = true
